[Desktop Entry]
Encoding=UTF-8
Name=Moonbridge
Comment=Moonbridge P2P Cryptocurrency
Comment[fr]=Moonbridge, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Moonbridge, eşten eşe kriptografik sanal para birimi
Exec=moonbridge-qt %u
Terminal=false
Type=Application
Icon=moonbridge128
MimeType=x-scheme-handler/moonbridge;
Categories=Office;Finance;
